body {
    font-family: montserrat, calibri;
    font-size: 13px;
}
.content {
    display: table;
    margin: auto;
}
.loto, .loto td, .loto th {
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid gray;
}
.language {
    font-family: arial;
    font-size: 12px;
    top: 0px;
    right: 0px;
    margin-left: auto;
} 
.center {
    margin: auto;
    width: 25%;
    padding: 10px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto
}